$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mim-linedin: unquote('"\\e911"');
$icon-mim-email: unquote('"\\e912"');
$icon-mim-phone: unquote('"\\e913"');
$icon-mim-close: unquote('"\\e900"');
$icon-mim-check: unquote('"\\e901"');
$icon-mim-love-screen: unquote('"\\e902"');
$icon-mim-search: unquote('"\\e903"');
$icon-mim-search-page: unquote('"\\e904"');
$icon-mim-like: unquote('"\\e905"');
$icon-mim-document: unquote('"\\e906"');
$icon-mim-chat: unquote('"\\e907"');
$icon-mim-click: unquote('"\\e908"');
$icon-mim-scales: unquote('"\\e909"');
$icon-mim-neurodivergence: unquote('"\\e90a"');
$icon-mim-chevron: unquote('"\\e90b"');
$icon-mim-full-screen: unquote('"\\e90c"');
$icon-mim-mag: unquote('"\\e90d"');
$icon-mim-shield: unquote('"\\e90e"');
$icon-mim-hand: unquote('"\\e90f"');
$icon-mim-world: unquote('"\\e910"');

